name: CD Pipeline

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write
  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Generate coverage report
        run: |
          pytest --cov=. --cov-report=xml --cov-report=html:coverage_html

      - name: Debug coverage directory
        run: ls -R .

      - name: Deploy coverage HTML to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./coverage_html
          publish_branch: gh-pages
